# Lista de Exercícios da Semana 2

__Aluno:__ Guilherme Santos Silva

__1.__ Liste as diferenças entre uma lista, um dicionário, um array numpy e uma series
pandas?

__Resposta:__ Uma lista é uma estrutura de dados composta por itens organizados de forma linear, na qual cada um pode ser acessado a partir de um índice, que representa sua posição na coleção (iniciando em zero); já os dicionários são um tipo de estrutura de dados na qual seus elementos são indexados por “chaves”. Uma característica que difere bastante os dicionários dos outros tipos de estruturas de dados é a não obrigatoriedade de uma ordenação nos seus elementos. Isso porque, os valores dos dicionários sempre serão acessados por meio das chaves, e não de índices, como é o caso das listas e dos arrays, por exemplo. Outra característica muito importante dos dicionários é que um mesmo dicionário não pode ter chaves com nomes repetidos. Assim, os Arrays Numpy são estruturas de dados fornecidas pela biblioteca numpy. Esses arrays são projetados para lidar com grandes conjuntos de dados com eficiência e facilidade, principalmente quando se trata de conjuntos numéricos. A biblioteca numpy possui diversas funcionalidades que podem ser utilizadas para manipular e transformar essas estruturas de dados. E além disso, também é possível criar arrays numpy com mais de uma dimensão. Desse modo series são matrizes unidimensionais rotuladas capazes de armazenar dados de qualquer tipo. Os rótulos dos eixos são chamados coletivamente de índices. Fazendo um paralelo com uma planilha MS-EXCEL uma série representa uma coluna em uma planilha do Excel. Uma Serie suporta tanto a indexação inteira, quanto a baseada em rótulo e fornece uma série de métodos para executar operações envolvendo o índice.

__2.__ Reformule a série a seguir em um dataframe com 7 linhas e 5 colunas.

    ser = pd.Series(np.random.randint(1, 10, 35))

In [1]:
import pandas as pd
import numpy as np

series = pd.DataFrame(np.random.randint(1, 35, size=(7,5)),columns=list('12345'),index=[1,2,3,4,5,6,7])
series

    1   2   3   4   5
1  21  33  17  19  26
2  34   4  27  20  26
3  24   2   1  20  14
4  12   9   2   2  20
5  12  23  20   8   9
6  31  25  18   6  18
7  33   5  16  24   9

__3.__ Importe as colunas ’crim’ e ’medv’ do conjunto de dados do BostonHousing como
um dataframe.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim','medv'])
df

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

__4.__ Renomeie a coluna Type como CarType em df e substitua o ’.’ nos nomes das
colunas com ’_’.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [4]:
df.rename(columns={'Type':'CarType'}, inplace=True)

In [5]:
df.head()

,Manufacturer,Model,CarType,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [6]:
df.columns = [j.replace(".","_") for j in df.columns]
df.head()

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

__5.__ Verifique se o dataframe tem algum valor ausente.

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [8]:
df[df.isnull().any(axis=1)]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Toyota,Camry,Midsize,15.2,NaN,21.2,22.0,29.0,Driver only,NaN,...,5.0,188.0,103.0,70.0,38.0,28.5,15.0,3030.0,non-USA,Toyota Camry
86,Toyota,Previa,Van,NaN,22.7,26.6,18.0,22.0,Driver only,4WD,...,7.0,187.0,113.0,71.0,41.0,35.0,NaN,3785.0,non-USA,Toyota Previa
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

__6.__ Conte o número de valores ausentes em cada coluna do df . Qual coluna tem o
número máximo de valores ausentes?

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
nan = df.isnull().sum()
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

__7.__ Obtenha a primeira coluna ’a’ em df como um dataframe (em vez de uma série).

    df = pd.DataFrame(np.arange(20).reshape(−1, 5), columns=list('abcde'))

In [10]:
import pandas as pd
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
a = pd.DataFrame(df["a"])
a.head()

    a
0   0
1   5
2  10
3  15

__8.__ Como alterar a ordem das colunas de um dataframe? Para isso, respondam as três
questões:

(a) Em df, troque as colunas ’a’ e ’c’.

(b) Crie uma função genérica para trocar duas colunas, sem codificar os nomes das
colunas.

(c) Classifique as colunas em ordem alfabética inversa, ou seja, colume ’e’ primeiro
até a coluna ’a’ last.

    df = pd.DataFrame(np.arange(20).reshape(−1, 5), columns=list('abcde'))

In [11]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df[["c", "b", "a", "d", "e"]]
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [12]:
df = df[["e", "d", "c", "b", "a"]]
df

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

__9.__ Altere as configurações de exibição de Pandas ao imprimir o dataframe df mostre
no máximo 10 linhas e 10 colunas.

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [14]:
dados = df[['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain']]
dados.head(10)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN
6,Buick,LeSabre,Large,19.9,20.8,NaN,19.0,28.0,Driver only,Front
7,Buick,Roadmaster,Large,22.6,23.7,24.9,16.0,25.0,Driver only,Rear
8,Buick,Riviera,Midsize,26.3,26.3,26.3,19.0,27.0,Driver only,Front
9,Cadillac,DeVille,Large,33.0,34.7,36.3,16.0,25.0,Driver only,Front

__10.__ A partir de df , filtre o ’Manufacturer’, ’Model’ e ’Type’ para cada 20 linhas,
começando em 1º (linha 0).

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.loc[0:20, ["Manufacturer", "Model", "Type"]]

   Manufacturer       Model     Type
0         Acura     Integra    Small
1           NaN      Legend  Midsize
2          Audi          90  Compact
3          Audi         100  Midsize
4           BMW        535i  Midsize
5         Buick     Century  Midsize
6         Buick     LeSabre    Large
7         Buick  Roadmaster    Large
8         Buick     Riviera  Midsize
9      Cadillac     DeVille    Large
10     Cadillac     Seville  Midsize
11    Chevrolet    Cavalier  Compact
12    Chevrolet     Corsica  Compact
13    Chevrolet      Camaro   Sporty
14    Chevrolet      Lumina  Midsize
15    Chevrolet  Lumina_APV      Van
16    Chevrolet       Astro      Van
17    Chevrolet     Caprice    Large
18    Chevrolet    Corvette   Sporty
19          NaN    Concorde    Large
20     Chrysler     LeBaron  Compact

__11.__ Obtenha as duas últimas linhas de df cuja soma da linha é maior que 100.

    df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(−1, 4))

In [20]:
d11 = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
d12 = d11[d11.sum(axis=1)>100]
d12.iloc[-2:]

     0   1   2   3
8   37  18  39  23
10  31  37  26  39

__12.__ Troque as linhas 1 e 2 em df.

    df = pd.DataFrame(np.arange(25).reshape(5, −1))

In [17]:
df = pd.DataFrame(np.arange(25).reshape(5, -1),columns=list('01234'),index=['0', '1', '2', '3','4'])
print(df)
print('trocando linhas:')
df = df.reindex(index=['0', '4', '3', '2', '1'])
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
trocando linhas:
    0   1   2   3   4
0   0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9